html {
    background-color: rgb(59, 59, 59);
}
.container {
    display: grid; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: 33% 33% 33%;    
    gap:10px; 
}
.Refresh {
    grid-column-start: 1;
    grid-column-end:3; 
    grid-row-start:1;  
    grid-row-end :2 ; 
    text-align: center;
    width: 100%;
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    color: darkgoldenrod;
    margin-top: 50px;
    margin-bottom: 200px;
}


p {
    margin: 0px 0px 20px 0px ;
}

.player{
    /* 
    display: flex;
   flex-direction: column; 
    justify-content:flex-start;
    gap: 5px; */
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-style: italic;
    color: cyan;
    font-weight: lighter;

    
}
.one {
    grid-column-start : 1;
    grid-column-end:2 ;  
    grid-row-start : 2; 
    grid-row-end: 4; 
    margin-left : 400px;
}

.two {
    grid-column-start : 2;
    grid-column-end:3 ;
    grid-row-start : 2; 
    grid-row-end: 4;  
    margin-right: 400px;
}

img {
    width:300px; 
    height: 300px;
    align-items: flex-end;
}

footer {
    text-align: center;
    color :cyan; 
    font-family: "caveat", cursive;
    font-size:30px;
}